.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0px;
  background-color: rgb(226, 226, 226);
}

.mainHidden {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0px;
  background-color: rgb(117, 117, 117);
}
