.window {
  position: fixed;
  top: 25vh;
  width: 540px;
  z-index: 1000;
  font-size: 22px;

  &One {
    // background-color: rgb(194, 59, 59);
    background-color: #ffa600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    & .headlineWrapper {
      padding: 10px 0px;
      width: 100%;
      border-radius: 10px 10px 0px 0px;
      // background-color: rgb(194, 59, 59);
      background-color: #c68100;
      border-radius: 10px 10px 0px 0px;
    }

    & .windowButton {
      width: 100px;
      height: 40px;
      border-radius: 5px;
      // background-color: rgb(194, 59, 59);
      background-color: #c68100;
      color: white;
    }
  }

  &Two {
    background-color: #ffa600;
    height: 278px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    & .headlineWrapper {
      padding: 10px 0px;
      width: 100%;
      border-radius: 10px 10px 0px 0px;
      background-color: #c68100;

    }

    & .windowButton {
      width: 100px;
      height: 40px;
      border-radius: 5px;
      background-color: #c68100;
      color: white;

    }
  }
}

.headlineWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headline {
  padding: 20px;
  // width: 500px;
  color: white;
}

.cross {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 10px 10px 0px 0px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 80%;
    height: 1.5px;
    background-color: rgb(63, 63, 63);
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.windowButtonWrapperOne {
  width: 220px;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.windowButtonWrapperTwo {
  width: 220px;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.text {
  text-align: center;
  padding: 100px 50px 120px;
  color: #774d00;
  // font-weight: 700;
  font-size: 24px;
}
