html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
ol,
ul,
li,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
}

ol,
ul {
  list-style: none;
}