.form {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-size: 18px;
    height: 400px;
  }

h3 {
    font-size: 26px;
    text-align: center;
}

.inputWrapper {
    position: relative;
    display: flex;
}

.input,
.phoneInput {
    margin-bottom: 30px;
    width: 200px;
    border: 1px dotted rgb(112, 112, 112);
    height: 25px;
    border-radius: 10px;
    padding: 0px 5px;
}

.input:focus {
    outline: none;
}

.nameErrorMessage,
.phoneErrorMessage {
    position: absolute;
    left: 320px;
    color: red;
}

.phoneErrorMessage {
    bottom: 29px;
}

.text {
    width: 100px;
}

.isError {
    margin-bottom: 30px;
    width: 200px;
    border: 1px dotted rgb(255, 67, 67);
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.button {
    background-color: green;
    color: white;
    font-size: 18px;
}