.list {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cardWrapper {
    width: 335px;
}

.crossBgWrapper {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.crossWrapper {
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
  
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 55%;
      left: 14%;
      width: 80%;
      height: 1.5px;
      background-color: rgb(63, 63, 63);
    }
  
    &::before {
      transform: translateY(-50%) rotate(45deg);
    }
  
    &::after {
      transform: translateY(-50%) rotate(-45deg);
    }
  }

.productsWrapper {
  display: flex;
  padding: 50px 20px 20px;
}

.formWrapper {
  width: 700px;
  height: 550px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: white;
  border-radius: 25px;
  border: 5px solid green;
}

.text {
  text-align: center;
  font-weight: 700;
  padding-top: 10px;
}

.item {
    padding: 30px 30px;
    width: 300px;
    background-color: white;
    overflow: hidden; 
    border-radius: 10px;
}