.window {
  position: absolute;
  // top: 50%;
  width: 540px;
  z-index: 1000;

  &One {
    background-color: rgb(255, 81, 69);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    & .headlineWrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: rgb(218, 67, 67);
      border-radius: 10px 10px 0px 0px;
    }

    & .windowButton {
      width: 100px;
      height: 40px;
      border-radius: 5px;
      background-color: rgb(194, 59, 59);
      color: white;
    }
  }

  &Two {
    background-color: rgb(73, 163, 73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    & .headlineWrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: rgb(90, 138, 90);
      border-radius: 10px 10px 0px 0px;
    }

    & .windowButton {
      width: 100px;
      height: 40px;
      border-radius: 5px;
      background-color: rgb(73, 112, 73);
      color: white;
    }
  }
}

.headlineWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headline {
  padding: 20px;
  // width: 500px;
  color: white;
}

.cross {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 10px 10px 0px 0px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 80%;
    height: 1.5px;
    background-color: rgb(63, 63, 63);
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.windowButtonWrapperOne {
  width: 220px;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.windowButtonWrapperTwo {
  width: 220px;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}

.button {
  width: 100px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.text {
  text-align: center;
  padding: 50px;
  color: white;
}
