.list {
    padding: 50px 20px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.contentWrapper {
    padding: 0px 50px;
    width: 100%;
    // min-height: 70vh;
    min-height: calc(100vh - (388px));
}

.contentHeadline {
    font-size: 30px;
    padding: 10px 0px 25px;
}

.arrow {
    padding: 2px 10px 0px;
}

