.listTileItem {
    padding: 30px 30px;
    width: 300px;
    background-color: white;
    overflow: hidden; 
    border-radius: 10px;
}

.listListItem {
    padding: 10px 30px;
    width: 1100px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    overflow: hidden; 
}

.iconListWrapper {
    width: 25px;
    display: flex;
    align-items: center;
    position: relative;
}

.iconTileWrapper {
    width: 25px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-left: 200px;
}

.tooltip {
    width: 100px;
    position: absolute;
    bottom: -10px;
    left: -70px;
    transform: translateX(-50%);
    background-color: #ffa600;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

.iconListWrapper:hover .tooltip {
    opacity: 1;
}

.iconTileWrapper:hover .tooltip {
    opacity: 1;
}

.pictureListWrapper {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictureTileWrapper {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictureList {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.pictureTile {
    width: 70%;
    height: auto;
    object-fit: cover;
}

.headlineList {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    width: 200px;
}

.headlineTile {
    padding-top: 20px;
    font-size: 26px;
}

.textList {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.textTile {
    padding-top: 10px;
}

.priceList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    width: 150px;
}

.priceTile {
    padding-top: 10px;
    font-size: 20px;
}

.accent {
    font-weight: 700;
}

.buttonListWrapper {
    width: 200px;
    display: flex;
    justify-content: center;
    // padding: 40px 0px 10px;
    align-items: center;
}

.buttonTileWrapper {
    display: flex;
    justify-content: center;
    padding: 40px 0px 10px;
}

.button {
    font-size: 16px;
    background-color: #ffa600;
    color: white;
}