.cardWrapper {
    width: 335px;
}


.crossBgWrapper {
    display: flex;
    justify-content: flex-end;
}

.crossWrapper {
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
  
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 55%;
      left: 14%;
      width: 80%;
      height: 1.5px;
      background-color: rgb(63, 63, 63);
    }
  
    &::before {
      transform: translateY(-50%) rotate(45deg);
    }
  
    &::after {
      transform: translateY(-50%) rotate(-45deg);
    }
  }

.productsSection {
  display: flex;
}