.wrapper {
  padding: 20px 50px;
  display: flex;
  justify-content: flex-end;
}

.button {
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;

  &White {
    background-color: white;
    color: rgb(63, 63, 63);
    font-size: 15px;
  }

  &Green:hover {
    background-color: rgb(214, 214, 214);
  }

  &Blue {
    background-color: rgb(76, 94, 255);
    color: white;
    margin-left: 10px;
    font-size: 15px;
  }

  &Red:hover {
    color: white;
  }
}
