.listItem {
    padding: 30px 30px;
    width: 300px;
    background-color: white;
    // height: 500px;
    overflow: hidden; 
    border-radius: 10px;
}

.iconWrapper {
    width: 25px;
    display: flex;
    justify-content: flex-end;
    // cursor: pointer;
    position: relative;
    margin-left: 200px;
}

.tooltip {
    width: 100px;
    position: absolute;
    bottom: -10px;
    left: -70px;
    transform: translateX(-50%);
    background-color: #ffa600;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

.iconWrapper:hover .tooltip {
    opacity: 1;
}

// .icon {
//     cursor: pointer;
// }

.pictureWrapper {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    width: 70%;
    height: auto;
    object-fit: cover;
}

.headline {
    padding-top: 20px;
    font-size: 26px;
}

.text {
    padding-top: 10px;
}

.price {
    padding-top: 10px;
    font-size: 20px;
}

.accent {
    font-weight: 700;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    padding: 40px 0px 10px;
}

.button {
    font-size: 16px;
    background-color: #ffa600;
    color: white;
}