.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: rgb(170, 170, 170);
  color: rgb(61, 61, 61);
  display: flex;
  align-items: center;
  justify-content: center;
}