.header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.headerWrapper {
  width: 100%;
  background-color: rgb(170, 170, 170);
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

.headerHidden {
  width: 100%;
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

.headlineWrapper {
  display: flex;
  flex-direction: column;
}

.headline {
  font-size: 60px;
}

.headlineText {
  color: rgb(61, 61, 61);
  padding-left: 20px;
}

.iconsWrapper {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.starWrapper,
.basketWrapper {
  // width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconText {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-left: 10px;
}